body{
    background-color: #efac4a;
}
.div_ag{
    display: inline-flex;
    flex-direction: row;
    
}
#inputBusca{
    height: 20;
}
/* Estilo geral da tabela */
table {
    width: 80%;
    border-collapse: collapse; /* Faz as bordas ficarem simples/finas */
    font-family: Arial, sans-serif;
    background-color: #F8C471; /* Cor de fundo base (laranja claro) */
}

/* Estilo do Cabeçalho (Preto com letras douradas/laranjas) */
table thead th {
    background-color: #000000;
    color: #F8C471; /* Cor da fonte combinando com a tabela */
    text-align: left;
    padding: 12px;
    font-weight: bold;
    border: 1px solid #000; /* Borda preta */
}

/* Estilo das células (Corpo da tabela) */
table tbody td {
    padding: 10px;
    border: 1px solid #000; /* Linhas pretas finas entre colunas e linhas */
}

/* EFEITO ZEBRA: Linhas pares com uma cor um pouco mais escura */
table tbody tr:nth-child(even) {
    background-color: #f2b661; /* Laranja um pouco mais forte */
}

/* EFEITO ZEBRA: Linhas ímpares com a cor mais clara */
table tbody tr:nth-child(odd) {
    background-color: #F8C471;
}

/* Opcional: Efeito ao passar o mouse para destacar a linha */
table tbody tr:hover {
    filter: brightness(90%);
    cursor: default;
}
#d_modal{
    background-color: #fed89d;
}