
   body{
    background-color: #efac4a !important ;
    margin: 0;
}
/* ============================================================
   TOPO / UTILIDADES
   ============================================================ */
.d_util{
    width: 95%;
    margin: 30px auto 10px auto;
    display: flex;
    align-items: center;
    gap: 60px;
    padding-bottom: 0px;
}

.header-acoes{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
    margin-bottom: 0px;
}

/* ============================================================
   TÍTULO
   ============================================================ */
.h_ag{
    background-color: #1c1c1c;
    color: #f8c471;
    padding: 10px 20px;
    margin: 0;
    font-size: 32px;
}

/* ============================================================
   BOTÕES DO TOPO
   ============================================================ */
   #b_addq,
   #b_nova_compra,
   #b_apagar_prod,
   #b_limpar_lista{
       display: flex;
       align-items: center;
       justify-content: center;
       cursor: pointer;
       background-color: #1c1c1c;
       color: #ffc27a;
       border: none;
       border-radius: 5px;
       padding: 10px 20px;
       font-weight: bold;
       transition: 0.2s;
       width: 300px;
       height: 45px;
       font-size: 24px;
       white-space: nowrap; /* <--- FOI ESTA LINHA QUE EU ADICIONEI */
   }

#b_addq:hover,
#b_nova_compra:hover,
#b_apagar_prod:hover,
#b_limpar_lista:hover{
    filter: brightness(1.2);
}

#s_addq{
    color: #f8c471;
    font-weight: bold;
    font-size: 24px;
    
}

/* ============================================================
   ÁREA DE BUSCA
   ============================================================ */
#d_inp{
    margin-left: auto;
    margin-bottom: 0px;
    padding-bottom: 5px;
    display: flex;
    justify-content: center;
}

.busca-box{
    position: relative;
    display: flex;
    align-items: center;
}

.icone-busca{
    position: absolute;
    left: 8px;
    width: 16px;
    height: 16px;
}

#inputBusca{
    border: 2px solid #1c1c1c;
    background-color: #efac4a;
    padding: 12px 80px 12px 90px;
}
#inputBusca::placeholder{
    color: #7a5a2a; /* opcional */
}
/* ============================================================
   TABELA
   ============================================================ */
#sc_tabela{
    width: 90%;
    margin: 0 auto;
    margin-top: 0 !important;
    padding-top: 0 !important;
}


.tabela{
    width: 100%;
    border-collapse: collapse;
    background-color: #f8c471;
    margin-top: 0 !important;
}

/* CABEÇALHO */
.tabela thead th{
    background-color: #000;
    color: #f8c471;
    padding: 12px;
    text-align: left;
    font-size: 20px;
    
}

/* LINHAS */
.tabela tbody td{
    padding: 10px;
    font-family: Arial, sans-serif;
}

/* ZEBRA */
.tabela tbody tr:nth-child(even){
    background-color: #e5b066;
}

.tabela tbody tr:nth-child(odd){
    background-color: #f2c57c;
}

/* LINHAS VERTICAIS */
.tabela th,
.tabela td{
    border-right: 3px solid #1c1c1c;
    text-align: left;
}

.tabela th:last-child,
.tabela td:last-child{
    border-right: none;
    text-align: left;
}

/* HOVER */
.tabela tbody tr:hover{
    filter: brightness(90%);
}

/* ============================================================
   MODAL
   ============================================================ */
#d_modal{
    border: 2px solid #efac4a;
    border-radius: 16px;
    padding: 0;
    width: 600px;
    height: 800px;
    max-width: 95%;
    background: #1c1c1c;
    box-shadow: 0 10px 50px rgba(0,0,0,0.7);
    overflow: hidden;
    color: #f8c471;
}

#d_modal::backdrop{
    background: rgba(0, 0, 0, 0.85);
    backdrop-filter: blur(4px);
}

.modal_box{
    background: #1c1c1c;
    color: #f8c471;
    padding: 30px;
    padding-bottom: 20px;
    border-radius: 16px;
    display: flex;
    flex-direction: column;
    gap: 15px;
    height: 100%;
    position: relative;
    overflow-y: auto;
}

/* TÍTULO */
.modal_titulo{
    color: #f8c471;
    text-align: center;
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
    text-transform: uppercase;
    margin-top: 20px;
}


/* LINHAS */
.modal_linha{
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-bottom: 15px;
}

/* LABEL */
.label{
    font-size: 14px;
    color: #efac4a;
    text-transform: uppercase;
}

/* INPUTS */
.modal_linha input{
    height: 65px;
    padding: 0 20px;
    border-radius: 10px;
    border: 2px solid #efac4a;
    background: #1c1c1c;
    color: #f8c471;
    font-size: 1.3rem;
    outline: none;
}

.inp_m{
    width: 100%;
    height: 40px;
    font-size: 30px;
    background-color: #fed89d;
    border-width: 3px;
    border-color: #efac4a;
    border-radius: 10px;
}

/* REMOVE SETAS */
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button{
    -webkit-appearance: none;
    margin: 0;
}

input[type=number]{
    -moz-appearance: textfield;
}

/* TEXTOS */
.pm{
    font-size: 25px;
    width: 100%;
    margin-top: 0px;
    
}

.pmf{
    font-size: 14px;
    color: #efac4a;
    padding: 0px;
}

/* VALORES */
#s_produto,
#s_qtda,
#s_pedido,
#s_dt,
#s_tot{
    font-weight: bold;
    font-size: 1.4rem;
}

#s_tot{
    color: #f8c471;
    font-size: 2.2rem;
}

/* BOTÕES DE PAGAMENTO */
.pagamento{
    width: 100%;
    background: transparent;
    color: #f8c471;
    border: 1px solid #efac4a;
    padding: 16px;
    margin: 6px 0;
    border-radius: 8px;
    cursor: pointer;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 1rem;
}

/* FOOTER */
.modal_footer{
    padding: 10px;
    text-align: center;
    margin-top: auto;
    margin-bottom: 30px;
}

.modal_footer .pm{
    font-size: 14px;
    margin: 0;
}

/* BOTÃO PRINCIPAL */
#b_addf{
    display: block;
    width: 300px;
    margin: 100px auto;
    padding: 16px;
    border: none;
    border-radius: 10px;
    background: #efac4a;
    color: #f0e0e0;
    font-weight: bold;
    font-size: 1.2rem;
    cursor: pointer;
    margin-bottom: 35px;
    margin-top: 50px;
}
.b_addf{
    display: block;
    width: 300px;
    margin: 100px auto;
    padding: 16px;
    border: none;
    border-radius: 10px;
    background: #efac4a;
    color: #f0e0e0;
    font-weight: bold;
    font-size: 1.2rem;
    cursor: pointer;
    margin-bottom: 35px;
    margin-top: 50px;
}



/* ============================================================
   LISTA DE SUGESTÕES
   ============================================================ */
#lista_sugestoes{
    width: 100%;
    background: #1c1c1c;
    color: #f8c471;
    border: 2px solid #efac4a;
    border-radius: 8px;
    max-height: 160px;
    overflow-y: auto;
    margin-top: 5px;
    padding: 0;
    list-style: none;
    font-family: Arial, sans-serif;
}

#lista_sugestoes li{
    padding: 14px 15px;
    cursor: pointer;
    border-bottom: 1px solid #333;
    font-size: 15px;
}

#lista_sugestoes li.ativo{
    background-color: #efac4a !important;
    color: #1c1c1c !important;
    font-weight: bold;
}

/* INSTRUÇÃO */
.modal_footer_instrucao{
    text-align: center;
    margin-top: 10px;
}

.modal_footer_instrucao p{
    font-size: 13px !important;
    color: #efac4a;
    opacity: 0.8;
    margin: 0;
}

/* ============================================================
   SCROLL GLOBAL
   ============================================================ */
::-webkit-scrollbar{
    width: 18px;
}

::-webkit-scrollbar-track{
    background: #ffff;
}

::-webkit-scrollbar-thumb{
    background: #dbb57c;
    border-radius: 10px;
    border: 4px solid transparent;
    background-clip: content-box;
}

::-webkit-scrollbar-thumb:hover{
    background: #c2904b;
    border-radius: 10px;
    border: 4px solid transparent;
    background-clip: content-box;
}

/* ============================================================
   SCROLL DA LISTA
   ============================================================ */
#lista_sugestoes::-webkit-scrollbar{
    width: 15px;
}

#lista_sugestoes::-webkit-scrollbar-track{
    background: #ffff;
    border-radius: 6px;
}

#lista_sugestoes::-webkit-scrollbar-thumb{
    background: #dbb57c;
    border-radius: 20px;
    border: 4px solid transparent;
    background-clip: content-box;
    min-height: 40px;
}

#lista_sugestoes::-webkit-scrollbar-thumb:hover{
    background: #c2904b;
    border-radius: 20px;
    border: 4px solid transparent;
    background-clip: content-box;
}

/* ============================================================
   BOTÃO FECHAR MODAL
   ============================================================ */
#b_close_modal{
    position: absolute;
    top: 15px;
    right: 20px;
    background: transparent;
    border: none;
    color: #efac4a;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
    line-height: 1;
}

#b_close_modal:hover{
    color: #f8c471;
    transform: scale(1.1);
}


/* ============================================================
   ESTILO DO MODAL DE AVISO 
   ============================================================ */
   #d_aviso {
    border: 3px solid #efac4a;
    border-radius: 12px;
    padding: 0;
    width: 350px;
    background: #1c1c1c;
    color: #f8c471;
    box-shadow: 0 10px 30px rgba(0,0,0,0.8);
    text-align: center;
}

#d_aviso::backdrop {
    background: rgba(0, 0, 0, 0.7);
}

.aviso_box {
    padding: 25px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

#msg_aviso {
    font-size: 20px;
    font-weight: bold;
    margin: 0;
}

.aviso_botoes {
    display: flex;
    justify-content: center;
    gap: 15px;
}

#b_confirmar_aviso, #b_cancelar_aviso {
    padding: 10px 25px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
    font-size: 16px;
    transition: 0.2s;
}

#b_confirmar_aviso {
    background-color: #efac4a;
    color: #1c1c1c;
}

#b_cancelar_aviso {
    background-color: #333;
    color: #f8c471;
    border: 1px solid #efac4a;
}

#b_confirmar_aviso:hover {
    filter: brightness(1.2);
}


/* Container do checkbox */
.chk-concluido {
    appearance: none;
    -webkit-appearance: none;
    width: 22px;
    height: 22px;
    border: 2px solid #000000;
    border-radius: 6px;
    background-color: #efac4a;
    cursor: pointer;
    position: relative;
    transition: all 0.25s ease;
    vertical-align: middle;
}

/* Hover */
.chk-concluido:hover {
    border-color: #efac4a;
    box-shadow: 0 0 8px #efac4a;
}

/* Marcado */
.chk-concluido:checked {
    background: linear-gradient(135deg, #efac4a, #fbd076);
    border-color: #000000;
}

/* Ícone de check */
.chk-concluido:checked::after {
    content: "✓";
    color: white;
    font-size: 15px;
    font-weight: bold;
    position: absolute;
    top: 48%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/* Foco */
.chk-concluido:focus {
    outline: none;
    box-shadow: none;
}

.chk-concluido:focus-visible {
    outline: none;
    box-shadow: 0 0 6px #efac4a;
}
td:last-child {
    text-align: center;
    vertical-align: middle;
}

.chk-concluido {
    display: inline-block;
    margin: 0 auto;
}
.input-reposicao {
    background: transparent;
    border: 1px solid #efac4a;
    border-radius: 4px;
    color: inherit;
    font-size: inherit;
    font-family: inherit;
    outline: none;
    padding-left: 5px;
}

.input-qtd {
    width: 50px;
}

.input-local {
    width: 120px;
}

.select-prioridade {
    width: 100%;
}
.select-tabela-prioridade {
    width: 100px;
    cursor: pointer;
}

.select-tabela-prioridade,
.select-prioridade {
    background: #1f1f1f;
    color: white;
    border: 1px solid #efac4a;
    border-radius: 6px;
    padding: 5px;
}

.select-tabela-prioridade option,
.select-prioridade option {
    background: #1f1f1f;
    color: white;
}
/* =========================================================
MODAL NOVO CLIENTE AJUSTADO
========================================================= */

#modal_cliente{
    border: 2px solid #efac4a;
    border-radius: 16px;
    padding: 0;
    width: 500px;
    max-width: 95%;
    background: #1c1c1c;
    overflow: hidden;
}

#modal_cliente::backdrop{
    background: rgba(0,0,0,0.8);
    backdrop-filter: blur(4px);
}

#modal_cliente .modal_box{
    width: 100%;
    box-sizing: border-box;
    padding: 30px;
    display: flex;
    flex-direction: column;
    gap: 18px;
    overflow-x: hidden;
}

/* =========================================================
MODAL FIADO
========================================================= */

#d_modal_fiado,
#d_modal_produtos{
    border: 2px solid #efac4a;
    border-radius: 16px;
    padding: 0;
    background: #1c1c1c;
    overflow: hidden;
}

#d_modal_fiado{
    width: 650px;
    max-width: 95%;
}

#d_modal_produtos{
    width: 700px;
    max-width: 95%;
}

#d_modal_fiado::backdrop,
#d_modal_produtos::backdrop{
    background: rgba(0,0,0,0.8);
    backdrop-filter: blur(4px);
}

#d_modal_fiado .modal_box,
#d_modal_produtos .modal_box{
    overflow-x: hidden;
    box-sizing: border-box;
    width: 100%;
}

/* =========================================================
INPUTS MENORES
========================================================= */

#inp_busca_cliente,
#inp_busca_produto,
#inp_data_fiado{
    width: 92%;
    margin: 0 auto;
    display: block;
}

/* =========================================================
LISTA CLIENTES
========================================================= */

#lista_clientes{
    position: absolute;
    top: 165px;
    left: 50%;
    transform: translateX(-50%);
    width: 92%;
    z-index: 9999;

    background: #1c1c1c;
    border: 2px solid #efac4a;
    border-radius: 10px;

    list-style: none;
    padding: 0;
    margin: 0;

    overflow-y: auto;
    overflow-x: hidden;

    max-height: 155px;
}

/* mostra 2 clientes + pontinha do 3 */
#lista_clientes li{
    min-height: 58px;
    display: flex;
    align-items: center;
    padding: 0 15px;

    border-bottom: 1px solid #333;

    cursor: pointer;
    color: #f8c471;
}

#lista_clientes li:hover{
    background: #efac4a;
    color: #1c1c1c;
}

/* =========================================================
LISTA PRODUTOS
========================================================= */


#lista_produtos li:hover{
    background: #efac4a;
    color: #1c1c1c;
}

/* =========================================================
ÁREA PRODUTOS FIXA
========================================================= */

#area_produtos_modal,
#produtos_selecionados{
    width: 92%;
    margin: 0 auto;

    border: 2px solid #efac4a;
    border-radius: 10px;

    background: #151515;

    overflow-y: auto;
    overflow-x: hidden;

    padding: 10px;

    box-sizing: border-box;
}

/* espaço fixo */
#area_produtos_modal{
    height: 255px;
}

/* mostra 3 produtos e pontinha do 4 */
#produtos_selecionados{
    height: 210px;
}

/* =========================================================
ITEM PRODUTO
========================================================= */

.produto_item_modal{
    width: 100%;

    display: flex;
    justify-content: space-between;
    align-items: center;

    background: #232323;

    border: 1px solid #efac4a;
    border-radius: 10px;

        min-height: 50px;
        padding: 8px 10px;

    margin-bottom: 10px;

    box-sizing: border-box;

    color: #f8c471;
}

/* =========================================================
QTD
========================================================= */

.controles_qtd{
    display: flex;
    align-items: center;
    gap: 10px;
}

.btn_qtd{
    width: 38px;
    height: 38px;

    border: none;
    border-radius: 8px;

    background: #efac4a;
    color: #1c1c1c;

    font-size: 24px;
    font-weight: bold;

    cursor: pointer;
}

.inp_qtd_modal{
    width: 55px;
    height: 38px;

    border-radius: 8px;
    border: 2px solid #efac4a;

    background: #1c1c1c;
    color: #f8c471;

    text-align: center;
    font-size: 18px;
}

/* =========================================================
BOTÕES
========================================================= */

#b_abrir_produtos,
#b_salvar_fiado,
#b_salvar_produtos{
    width: 300px;
    height: 50px;

    margin: 10px auto;

    border: none;
    border-radius: 10px;

    background: #efac4a;
    color: #1c1c1c;

    font-size: 20px;
    font-weight: bold;

    cursor: pointer;

    display: flex;
    align-items: center;
    justify-content: center;
}

/* =========================================================
REMOVE BARRA HORIZONTAL
========================================================= */

.modal_box,
#d_modal_fiado,
#d_modal_produtos,
#modal_cliente{
    overflow-x: hidden !important;
}

/* =========================================================
SCROLL MAIS FINO
========================================================= */

#lista_clientes::-webkit-scrollbar,
#lista_produtos::-webkit-scrollbar,
#area_produtos_modal::-webkit-scrollbar,
#produtos_selecionados::-webkit-scrollbar{
    width: 7px;
}

#lista_clientes::-webkit-scrollbar-track,
#lista_produtos::-webkit-scrollbar-track,
#area_produtos_modal::-webkit-scrollbar-track,
#produtos_selecionados::-webkit-scrollbar-track{
    background: transparent;
}

#lista_clientes::-webkit-scrollbar-thumb,
#lista_produtos::-webkit-scrollbar-thumb,
#area_produtos_modal::-webkit-scrollbar-thumb,
#produtos_selecionados::-webkit-scrollbar-thumb{
    background: #efac4a;
    border-radius: 20px;
}

/* =========================================================
X FECHAR MODAIS
========================================================= */

#b_close_modal,
#b_close_produtos,
#b_close_modal_cliente{
    position: absolute;
    top: 12px;
    right: 15px;

    width: 38px;
    height: 38px;

    border: none;
    border-radius: 8px;

    background: #efac4a;
    color: #1c1c1c;

    font-size: 22px;
    font-weight: bold;

    cursor: pointer;

    display: flex;
    align-items: center;
    justify-content: center;

    transition: .2s;
}

#b_close_modal:hover,
#b_close_produtos:hover,
#b_close_modal_cliente:hover{
    transform: scale(1.05);
    filter: brightness(1.1);
}

/* =========================================================
NOVO CLIENTE CENTRALIZADO
========================================================= */

#modal_cliente{
    border: 2px solid #efac4a;
    border-radius: 16px;
    background: #1c1c1c;
    padding: 0;
    width: 520px;
    max-width: 95%;
    overflow: hidden;
}

#modal_cliente .modal_box{
    width: 100%;
    min-height: unset !important;

    padding: 30px;

    box-sizing: border-box;

    display: flex;
    flex-direction: column;
    gap: 14px;

    overflow-x: hidden;
}

/* =========================================================
INPUTS MAIS PROPORCIONAIS
========================================================= */

#inp_busca_cliente,
#inp_busca_produto,
#inp_data_fiado,
#modal_cliente .inp_m{
    width: 88%;
    margin: 0 auto;
    display: block;
}

/* =========================================================
LISTA CLIENTES ESCONDIDA
========================================================= */

#lista_clientes{
    display: none;

    position: absolute;
    top: 165px;
    left: 50%;
    transform: translateX(-50%);

    width: 88%;

    z-index: 99999;

    background: #1c1c1c;

    border: 2px solid #efac4a;
    border-radius: 10px;

    overflow-y: auto;
    overflow-x: hidden;

    padding: 0;
    margin: 0;

    list-style: none;

    max-height: 145px;
}

/* =========================================================
LISTA PRODUTOS
========================================================= */

#lista_produtos{
    width: 88%;

    margin: 0 auto;

    background: #1c1c1c;

    border: 2px solid #efac4a;
    border-radius: 10px;

    overflow-y: auto;
    overflow-x: hidden;

    padding: 0;

    list-style: none;

    max-height: 150px;
}

#lista_produtos li{
    min-height: 42px;
    font-size: 15px;
    padding: 12px 15px;

    border-bottom: 1px solid #333;

    color: #f8c471;

    cursor: pointer;

    display: flex;
    justify-content: space-between;
    align-items: center;

    gap: 20px;
}

#lista_produtos li:hover{
    background: #efac4a;
    color: #1c1c1c;
}

/* =========================================================
ÁREA PRODUTOS
========================================================= */

#area_produtos_modal,
#produtos_selecionados{
    width: 88%;

    margin: 0 auto;

    border: 2px solid #efac4a;
    border-radius: 10px;

    background: #151515;

    overflow-y: auto;
    overflow-x: hidden;

    padding: 10px;

    box-sizing: border-box;
}

/* maior */
#area_produtos_modal{
    height: 310px;
}

/* 3 produtos + pontinha do 4 */
#produtos_selecionados{
    height: 255px;
}

/* =========================================================
BOTÕES
========================================================= */

#b_abrir_produtos,
#b_salvar_fiado,
#b_salvar_produtos,
#b_addf{
    width: 280px;
    height: 50px;

    margin: 10px auto;

    border: none;
    border-radius: 10px;

    background: #efac4a;
    color: #1c1c1c;

    font-size: 19px;
    font-weight: bold;

    cursor: pointer;

    display: flex;
    align-items: center;
    justify-content: center;
}

#b_addf{
    margin-top: 20px;
    margin-bottom: 10px;
}